
.icon-angle-down {
	background-image: url('png/angle-down.png');
	background-repeat: no-repeat;
}

.icon-angle-left {
	background-image: url('png/angle-left.png');
	background-repeat: no-repeat;
}

.icon-angle-right {
	background-image: url('png/angle-right.png');
	background-repeat: no-repeat;
}

.icon-angle-up {
	background-image: url('png/angle-up.png');
	background-repeat: no-repeat;
}

.icon-arrow_back {
	background-image: url('png/arrow_back.png');
	background-repeat: no-repeat;
}

.icon-arrow_forward {
	background-image: url('png/arrow_forward.png');
	background-repeat: no-repeat;
}

.icon-arrow-left2 {
	background-image: url('png/arrow-left2.png');
	background-repeat: no-repeat;
}

.icon-arrow-right2 {
	background-image: url('png/arrow-right2.png');
	background-repeat: no-repeat;
}

.icon-check {
	background-image: url('png/check.png');
	background-repeat: no-repeat;
}

.icon-close {
	background-image: url('png/close.png');
	background-repeat: no-repeat;
}

.icon-envelope {
	background-image: url('png/envelope.png');
	background-repeat: no-repeat;
}

.icon-envelope-o {
	background-image: url('png/envelope-o.png');
	background-repeat: no-repeat;
}

.icon-menu {
	background-image: url('png/menu.png');
	background-repeat: no-repeat;
}

.icon-person {
	background-image: url('png/person.png');
	background-repeat: no-repeat;
}

.icon-person_add {
	background-image: url('png/person_add.png');
	background-repeat: no-repeat;
}

.icon-phone {
	background-image: url('png/phone.png');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}

.icon-shopping-basket {
	background-image: url('png/shopping-basket.png');
	background-repeat: no-repeat;
}

.icon-sign-out {
	background-image: url('png/sign-out.png');
	background-repeat: no-repeat;
}

.icon-user {
	background-image: url('png/user.png');
	background-repeat: no-repeat;
}

.icon-user-plus {
	background-image: url('png/user-plus.png');
	background-repeat: no-repeat;
}